<dx-data-grid
  keyExpr="id"
  [dataSource]="defaultList"
  [showBorders]="true"
  [allowColumnReordering]="true"
  [columnAutoWidth]="true">

  <dxi-column dataField="id" [groupIndex]="0"></dxi-column>
  <dxi-column dataField="mercaderiaApellido" caption="Apellido"></dxi-column>
  <dxi-column dataField="mercaderiaNombre" caption="Mercaderia"></dxi-column>
  <dxi-column dataField="parametroValue" caption="Valor Parametro"></dxi-column>
  <dxi-column dataField="analisisNombre" caption="Analisis"></dxi-column>
  <dxi-column dataField="analisisValor" caption="Analisis Valor"></dxi-column>

  <dxo-paging [pageSize]="30"></dxo-paging>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
  <dxo-export [enabled]="true"></dxo-export>
</dx-data-grid>
